body {
  font-family: 'Montserrat', sans-serif;
  background-color: #E5E5E5;
}


/* main styles */

.main {
  display: flex;
  flex-direction: row-reverse;
  width: 1200px;
  margin: 40px auto;
}

/* main content styles */

.main-content {
  background-color: #FFFFFF;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
}

/* about styles */

.about {
  margin-top: 100px;
  margin-left: 90px;
  width: 400px;
}

.about-name {
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 55px;
  color: #000000;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 0;
}

.about-job,
.education-spesh {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

/* projects styles */

.projects {
  margin-top: 40px;
  margin-left: 90px;
  width: 550px;
}

.project-black {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
  padding-left: 17px;
}

.project-item {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
  text-decoration: none;
}

.project-item-margin {
  margin-left: 10px;
}

.project-name, 
.work-name,
.education-name {
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: #000000;
  margin-bottom: 12px;
}

/* work styles */

.work {
  margin-top: 50px;
  margin-left: 90px;
  margin-right: 215px;
  width: 525px;
}

.work-title {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  margin-top: 12px;
  margin-bottom: 12px;
}

.work-title-orange {
  color: #FB6D3A;
}

.work-text,
.about-text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
  margin-bottom: 20px;
}

.work-text{
  padding-left: 16px;
}

.about-text {
  padding-left: 0px;
}

.work-date, 
.education-date {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #A8A8A8;
}

.work-date-black {
  color: #000000;
  margin-left: 0;
  margin-right: 0;
}

/* education styles */

.education {
  margin-top: 45px;
  margin-left: 90px;
  margin-bottom: 105px;
  width: 500px;
}

.education-spesh-margin {
  margin-top: 13px;
  margin-bottom: 13px;
}

.work-title-L {
  margin-top: 20px;
}

/* sidebar styles */

.sidebar {
  background-color: #1E2939;
  width: 370px;
}

.sidebar-segment{
  color: #FFFFFF;
}

.sidebar-title {
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  margin-bottom: 20px;
}

.sidebar-contacts-p {
  margin-top: 5px;
  margin-bottom: 0;
}

.sidebar-contacts-1 {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  margin-right: 10px;
}

.sidebar-contacts-2,
.sidebar-contacts-2-G {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-decoration-line: underline;
  opacity: 0.5;
  color: #FFFFFF;
} 

.sidebar-contacts-2-C {
  text-decoration: none;
}


.sidebar-contacts-2-G {
  margin-left: -4px;
}

.sidebar-list {
  padding: 0;
  margin-left: 17px;
}

.tech-sidebar-item {
  color: #FB6D3A;
}

.tech-sidebar-text {
  color: #FFFFFF;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

img {
  width: 370px;
  margin-top: 40px;
}

.contacts {
  margin-top: 50px;
  margin-left: 40px;
}

.tech {
  margin-top: 45px;
  margin-left: 40px;
}

.soft {
  margin-top: 45px;
  margin-left: 40px;
}